# Database files created by audit scripts
repo_audit.db
*.db

# Python bytecode
__pycache__/
*.pyc

# VS Code workspace
.vscode/

# other temp files
*.log
# Generated exports
*.xlsx
*.xls
report-*.xlsx
audit-*.xlsx
# DB exports
*.db
*.sqlite
repo_audit.db
*.csv
*.pkl
#GH token file
.token

# Node Modules
node_modules

# Misc
.DS_Store

.venv/
.ds_store
*.pem