# Copy this file to docker-audit-cli/.env and fill with real values.
# Do not commit docker-audit-cli/.env.

GITHUB_ORG=ministryofjustice

# If using PAT auth
GITHUB_TOKEN=<gh-token>

# If using GitHub App auth
GH_APP_ID=<app-id>
GH_APP_PRIVATE_KEY=<private-key>